.page{
    width: 100%;
    height: 90vh;
    @include flex-center;

    .container{
        width: 92.5%;
        height: 85%;
        background: url('/uploads/course_container_bg.png') center;
        background-size: 100% 100%;
        @include flex-center;
        box-shadow: 0 0 5px $white-green;
        border-radius: 20px;

        .itemsScope{
            width: 95%;
            height: 95%;
            position: relative;
            display: flex;
            margin-top: 2.5%;

            .contentContainer{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                .textContainer{
                    width: 60%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 2.5%;
    
                    .symbolicPath{
                        margin-bottom: 10px;
                    }
                    .titleDescription{
                        font-size: 45px;
                        line-height: 1;
                        width: 75%;

                        .bold{
                            position: relative;
                            &::before{
                                content: "";
                                display: inline-block;
                                height: 100%;
                                width: 7.5px;
                                background-color: $main-color;
                                position: absolute;
                                left: -17.5px;
                                top: 10%;
                            }
                        }
                        
                    }
                    .detailedDescription{
                        width: 75%;
                        margin-top: 5%;
                        font-size: 22.5px;
                    }
                }
                .linkContainer{
                    height: 12.5%;
                    width: 65%;
                    @include flex-center;
                    justify-content: space-evenly;
    
                    .link{
                        color: mix(black, $white, 60%);
                        font-size: 25px;
                    }
    
                }
            }
            .card{
                //just representing
            }
        }
    }
}
.card{
    height: 65vh;
    width: 22.5vw;
    position: absolute;
    right: 0;
    @include flex-center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    color: $dark-main-color;
    background-color: $white-green;
    border-radius: 10px;
    
    .cardDisplayer{
        width: 100%;
        height: 37.5%;
        background-color: #133A23;
        border-radius: 5px;
    }
    .cardPrice{
        color: $dark-main-color;
        font-size: 35px;
        .measure{
            display: inline-block;
            font-size: 20px;
        }
    }

    $lower-section-width: 92.5%;
    .buttonContainer{
        width: $lower-section-width;
        display: flex;
        flex-direction: column;
        margin-top: -5%;

        .cardButton{
            height: 6vh;
            @include flex-center;
            color: $dark-main-color;
            border: solid 1px $dark-main-color;
            border-radius: 5px;
            cursor: pointer;
        }
        .upperSection{
            height: 7vh;
            display: flex;
            justify-content: space-between;

            .buyButton{
                width: 82.5%;
                color: $white;
                background-color: $dark-main-color;
                border: none;
            }
            .closeButton{
                aspect-ratio: 1/1;
            }
        }
    }
    .extraInfo{
        width: $lower-section-width;
        h4{
            font-weight: bolder;
        }
        .infoContainer{
            margin-left: 10%;
            p{
                
            }
        }
    }
}