$bg-color: hsl(175, 33%, 4%);

$white: hsl(165, 38%, 92%);
$white-green: hsl(162, 20%, 80%);

$gray-green: hsl(166, 21%, 71%);

$black: hsl(210, 11%, 7%);

$main-color-lighter: hsl(149, 88%, 38%);
$main-color: hsl(145, 79%, 34%);
$main-color-darker: hsl(159, 69%, 31%);

$middle-color: hsl(159, 63%, 13%);

$dark-main-color-lighter: hsl(159, 79%, 9%);
$dark-main-color: hsl(175, 80%, 8%);

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin highlight-text{
  color: $main-color;
  font-weight: bolder;
}
@mixin neon-text($color){
  color: $color;
  text-shadow: darken($color: $color, $amount: 15) 0 0 2.5px;
}
@mixin sub-header($border-color){
  border-top: none;
  box-shadow: darken($color: $border-color, $amount: 20) 0 0 5px 2px;
  border-radius: 0 0 5px 5px;
}
@mixin topic($color, $measure){
  border-left: solid $measure $color;
  padding-left: $measure;
}